<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"classpath:/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="callSettersOnNulls" value="true" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<!-- 驼峰命名法转换将数据库里的item_id转换为bean中的itemId -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
</configuration>